site_name: NHT
site_url: https://nutanix-japan.github.io/nhtd1_material
site_author: Lakshmi Balaramane

# Repository

repo_name: nutanix-japan/nhtd1_material
repo_url: https://github.com/nutanix-japan/nhtd1_material

# Copyright
copyright: Copyright &copy; 2016 - 2022 Nutanix Enablement Practice

# Configuration

theme:
  name: material
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  features:
  - navigation.instant
  - navigation.tracking
  - navigation.sections
  - navigation.expand
  - navigation.top
  - search.highlight
  - search.suggest
  - toc.follow
  palette:

    # Palette toggle for automatic mode
    # - media: "(prefers-color-scheme)"
    #   scheme: default
    #   toggle:
    #     icon: material/brightness-auto
    #     name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to system preference
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji 
      emoji_generator: !!python/name:materialx.emoji.to_svg
plugins:
    - search

# Style sheeting here
# extra_css:
#   - stylesheets/extra.css

# Site navigation

nav:
    - Home: index.md
    - Foundation: diyfoundation/diyfoundation.md
    - Prism Central Deployment: prism_central_deploy/prism_central_deploy.md
    - X-Ray: xray/xray.md
